svg {
	&.nwp-icon {
		display: inline-block;
		width: 1em;
		height: 1em;
		stroke-width: 0;
		stroke: currentColor;
		fill: currentColor;
	}
	&.bs-icon {
		display: inline-block;
		width: 1em;
		height: 1em;
		stroke-width: 0;
		stroke: currentColor;
		fill: currentColor;
	}
	&.bs-icon {
		font-size: 24px;
	}

	&.bi {
		display: inline-block;
		width: 1em;
		height: 1em;
		stroke-width: 0;
		stroke: currentColor;
		fill: currentColor;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
	}
}
